#Telegram necessary
API_TOKEN=
WEBHOOK_URL=

#Postgres
PG_PORT=5438
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=Example-db
PG_HOST=db
DB_POSTGRE=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${PG_HOST}:${PG_PORT}/${POSTGRES_DB}

#Proxy
USE_PROXY=True
PROXY_PROTOCOL=http
PROXY_LOGIN=
PROXY_PASS=
PROXY_HOST=
PROXY_PORT=

#Backend port configuration
WEBAPP_PORT=8080

PG_CONTAINER_NAME=dev-example-psql
BACKEND_CONTAINER_NAME=dev-example-backend